<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="VersionType" value="1"/>
  </appSettings>
  <connectionStrings>
    <!-- Sql Server Start -->
    <add name="SqlServerSQLCoreDB" connectionString="Data Source=127.0.0.1;UID=sa;PWD=123456;Initial Catalog=SqlServerSQLTestDB;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100"/>
    <!-- Sql Server End  -->

    <!-- Oracle Start -->
    <add name ="OracleCoreDB" connectionString="server=129.204.160.155;user id=linqing;password=abc123456,;persistsecurityinfo=False;database=MySqlTestDB;allowuservariables=True;CharSet=utf8;port=3306;"></add>
    <!-- Oracle End -->

    <!-- MySql Start -->
    <add name ="MySQLCoreDB" connectionString="server=192.168.1.172;user id=linqing;password=abc123456,;persistsecurityinfo=False;database=MySqlTestDB;allowuservariables=True;CharSet=utf8;port=3306;"></add>
    <!-- MySql End -->

    <!-- PostgreSQL Start -->
    <add name ="PostgreSQLCoreDB" connectionString="Username=postgres;Password=1qaz@WSX;Host=192.168.1.172;Port=5432;Database=QCoreDB;"></add>
    <!-- PostgreSQL End -->

    <!-- sqlite3 Start -->
    <add name="SqliteCoreDB" connectionString="Data Source=.LocalDB/sqliteTestDB.db"/>
    <!-- sqlite3 End -->

    <!-- Generator Start <SSMS> -->
    <add name ="IDGeneratorDB" connectionString="Data Source=172.168.1.172,1433;UID=sa;PWD=1qaz@WSX;Initial Catalog=TableIDCounterDB;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100;"></add>
    <!-- PostgreSQL End -->

  </connectionStrings>
</configuration>