<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="VersionType" value="1"/>
  </appSettings>
  <connectionStrings>
    <!-- Sql Server Start -->
    <add name="LTEConn" connectionString=".\\LQ;Initial Catalog=Account;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=!!Hn@nsn123;"/>
    <add name="JZXN_DW_165" connectionString=".\\LQ;Initial Catalog=Account;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=!!Hn@nsn123;"/>
    <add name="JK_DW_168" connectionString=".\\LQ;Initial Catalog=Account;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=!!Hn@nsn123;"/>
    <add name="PublicService_167" connectionString="Data Source=10.209.240.167;Database=PublicService;User ID=sa;Password=!!Hn@nsn123;Connect Timeout=600000;"/>
    <!-- Sql Server End  -->
    
    <!-- MySql Start -->
    <add name ="MySqlTestDB" connectionString="server=129.204.160.155;user id=linqing;password=abc123456,;persistsecurityinfo=False;database=MySqlTestDB;allowuservariables=True;CharSet=utf8;port=3306;"></add>
    <!-- MySql End -->

    <!-- MySql Start -->
    <add name="sqliteTestDB" connectionString="Data Source=.LocalDB/sqliteTestDB.db"/>
    <!-- MySql End -->
  </connectionStrings>
</configuration>