<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="VersionType" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="ENodeDB" connectionString="Data Source=.;Integrated Security=true;Initial Catalog=ENodeDb;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100" />
    <add name="CoreDB"  connectionString="Data Source=.;Integrated Security=true;Initial Catalog=Business_CoreDb;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100" />
    <add name="CMSDB"   connectionString="Data Source=.;Integrated Security=true;Initial Catalog=Business_CMSDb;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100" />
    <add name="ShopDB"  connectionString="Data Source=.;Integrated Security=true;Initial Catalog=Business_ShopDb;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100" />
  </connectionStrings>
</configuration>