@{
    Layout = null;
}
<html>
<head>
    <title>我的MVC Core</title>
</head>
<body>
    @RenderBody()

    <footer>
        <p>L.q</p>
        <p>Contact information: <a href="mailto:someone@example.com">875191946@qq.com</a>.</p>
    </footer>
</body>

</html>
